/* This is a single-line comment */
body {
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

.footer {
    margin-top: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Semi-transparent image in the index page */
/* https://coder-coder.com/background-image-opacity/ */
#hero-welcome { 
    position: relative; 
    /* height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-welcome::before {
    content: "";
    background-image: url("/static/index_bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 30%;
}

/* Buttons to toggle Bokeh plots */
.toggle-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
}
.toggle-btn.active {
    background-color: #66c2a5;
    color: white;
}
.toggle-btn:hover {
    background-color: #fc8d62;
    color: white;
}
.plot-section {
    margin-top: 20px;
}
