<!DOCTYPE html>
<html lang="en" class="h-full bg-slate-50">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDverse data catalogue</title>
    <link rel="icon" type="image/png" href="/static/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css">

    {% block head_extra %}{% endblock %}
</head>

<body class="flex flex-col min-h-full font-sans antialiased text-slate-800 m-0 p-0">

    <header class="app-header">
        <div class="header-container">
            <a href="/" class="brand-logo">
                <img src="/static/logo.png" alt="MDverse Logo">
            </a>

            <nav class="nav-list">
                <a href="/explore?tab=datasets" class="nav-link">Explore Data</a>

                <div class="nav-dropdown">
                    <button class="nav-dropdown-btn">
                        Tools <i class="fa-solid fa-chevron-down text-[10px]"></i>
                    </button>

                    <div class="dropdown-menu">
                        <a href="/docs" target="_blank" class="dropdown-item">
                            <i class="fa-solid fa-code text-indigo-500 w-4"></i> REST API
                        </a>
                        <a href="/tools/metamd" class="dropdown-item">
                            <i class="fa-solid fa-tags text-indigo-500 w-4"></i> MetaMD
                        </a>
                        <a href="/tools/paper2repo" class="dropdown-item">
                            <i class="fa-solid fa-file-lines text-indigo-500 w-4"></i> Paper2Repo
                        </a>
                    </div>
                </div>

                <a href="/documentation" class="nav-link">Documentation</a>
                <a href="/about" class="nav-link">About</a>
            </nav>
        </div>
    </header>

    <main class="flex-grow pt-16 flex flex-col">
        {% block main %}{% endblock %}
    </main>
    <footer class="app-footer">
        <div class="footer-container">
            <p><strong>MDverse</strong> 2026.</p>
        </div>
    </footer>
    {% block script_extra %}{% endblock %}
</body>
</html>