<section class="section">
    <h1>GRO files</h1>
    <table id="gro_files_table" class="table is-striped is-hoverable" style="width:100%; table-layout: fixed;">
        <thead>
          <tr>
            <th class="is-vcentered">source</th>
            <th class="is-vcentered">source id</th>
            <th class="is-vcentered">file name</th>
            <th class="is-vcentered">atom number</th>
            <th class="is-vcentered">has protein</th>
            <th class="is-vcentered">has nucleic</th>
            <th class="is-vcentered">has lipid</th>
            <th class="is-vcentered">has glucid</th>
            <th class="is-vcentered">has water/ion</th>
          </tr>
        </thead>
    </table>
</section>

{% block script_extra %}
<script>
    $('#gro_files_table').DataTable({
        {% if dataset_id is defined %}
        ajax: '/file_types/gro/datatables/?dataset_id={{ dataset_id }}',
        {% else %}
        ajax: '/file_types/gro/datatables',
        {% endif %}
        processing: true,
        serverSide: true,
        columns: [
            { 
                data: 'dataset_origin' 
            },
            { 
                data: 'dataset_id_in_origin',
                render: function(data, type, row) {
                    // data: dataset_id_in_origin
                    // row: the entire row data, including dataset_url
                    return '<a href="' + row.dataset_url + '" target="_blank">' + data + '</a>';
                }
            },
            { 
                data: 'file_name',
                render: $.fn.dataTable.render.ellipsis(20),
            },
            {
                data: 'atom_number',
                render: $.fn.dataTable.render.number(',', '.', 0, ''),
            },
            { data: 'has_protein' },
            { data: 'has_nucleic' },
            { data: 'has_lipid' },
            { data: 'has_glucid' },
            { data: 'has_water_ion' }
        ],
        orderClasses: false,
        columnDefs: [
            { width: '11%', targets: 0, "orderable": "false" },    // dataset origin
            { width: '11%', targets: 1 },    // dataset id
            { width: '20%', targets: 2 },    // file name
            { width: '11%', targets: 3 },    // atom_number
            { width: '9%', targets: 4 },     // has_protein
            { width: '9%', targets: 5 },     // has_nucleic
            { width: '9%', targets: 6 },     // has_lipid
            { width: '9%', targets: 7 },     // has_glucid
            { width: '11%', targets: 8 },      // has_water_ion
            { className: 'dt-center', targets: "_all" }
        ],
        autoWidth: false, // Disable automatic calculation so the custom widths are used
    });
</script>
{% endblock %}
