{% extends "base.html" %}

{% block head_extra %}
<!-- Bokeh CSS + JS -->
<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-3.9.0.min.css" type="text/css">
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.9.0.min.js"></script>
{% endblock %}

{% block main %}
<section class="section pt-0">
    <section id="hero-welcome" class="hero is-medium py-6">
        <div class="hero-body has-text-centered">
            <p class="title is-size-1">Welcome to MDverse!</p>
            <p class="subtitle has-text-weight-semibold">The data catalogue of molecular dynamics simulations.</p>
        </div>
    </section>

    <div class="content pt-4" style="overflow-wrap: break-word;">
        <p>
            MDverse is a data catalogue that indexes and annotates molecular dynamics (MD) simulations. See <a href="/about">about</a> for more information.
        </p>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="content">
                <div class="level py-4 has-background-white-bis">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="subtitle">Datasets</p>
                            <p class="title">{{ total_count.number_of_datasets }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="subtitle">Files</p>
                            <p class="title">{{ total_count.total_files }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="subtitle">Structures</p>
                            <p class="title">{{ banner_stats.total_topology_files }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="subtitle">Trajectories</p>
                            <p class="title">{{ banner_stats.total_trajectory_files }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="subtitle">Data sources</p>
                            <p class="title">{{ banner_stats.total_data_sources }}</p>
                        </div>
                    </div>
                </div>
                <p class="has-text-right">As of {{ banner_stats.last_update }}</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="content">
                <table id="SummaryTable" class="table is-striped is-hoverable is-size-8">
                    <thead>
                        <tr>
                            <th class="is-vcentered has-text-left">Dataset origin</th>
                            <th class="is-vcentered has-text-right">Number of datasets</th>
                            <th>First dataset</th>
                            <th>Last dataset</th>
                            <th class="is-vcentered has-text-right">Total files</th>
                            <th class="is-vcentered has-text-right">Total size (GB)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in results %}
                        <tr>
                            <td class="is-vcentered has-text-left">{{ row.dataset_origin }}</td>
                            <td class="is-vcentered has-text-right">{{ "{:,}".format(row.number_of_datasets) }}</td>
                            <td>{{ "-" if not row.first_dataset else row.first_dataset.split("T")[0] }}</td>
                            <td>{{ "-" if not row.last_dataset else row.last_dataset.split("T")[0] }}</td>
                            <td class="is-vcentered has-text-right">{{ "{:,}".format(row.total_files) }}</td>
                            <td class="is-vcentered has-text-right">{{ "{:,.0f}".format(row.total_size_in_GB_non_zip_and_zip_files) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="is-vcentered has-text-left">Total</td>
                            <td class="is-vcentered has-text-right">{{ total_count["number_of_datasets"] }}</td>
                            <td>{{ total_count["first_dataset"].split("T")[0] }}</td>
                            <td>{{ total_count["last_dataset"].split("T")[0] }}</td>
                            <td class="is-vcentered has-text-right">{{ total_count["total_files"] }}</td>
                            <td class="is-vcentered has-text-right">{{ total_count["total_size_in_GB_non_zip_and_zip_files"] }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="content">
                <!-- Plot container using Flexbox to center child elements -->
                <div class="plot-section" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
                    <div id="filesPlot" style="width: 1000px;">
                        {{ files_plot_div | safe }}
                    </div>
                    <div id="datasetsPlot" style="width: 1000px;">
                        {{ datasets_plot_div | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script_extra %}
    <!-- Bokeh scripts (both plots' scripts) -->
    {{ files_plot_script | safe }}
    {{ datasets_plot_script | safe }}
    <!-- Script that initializes DataTables -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#SummaryTable').DataTable({
            "paging": false,
            "searching": false,
            "info": false,
            autoWidth: false,
            responsive: true,
            columnDefs: [{ orderable: false, targets: [0,1,2,3,4,5,6,7,8], className: 'dt-center', targets: '_all', }],
            // Disable the highlight/bold style on the sorted column
            orderClasses: false,
            ordering: false,
            });
        });
    </script>
{% endblock %}
