<section class="section">
    <h1>XTC files</h1>
    <table id="files_table" class="table is-striped is-hoverable" style="width:100%; table-layout: fixed;">
        <thead>
            <tr>
                <th class="is-vcentered">source</th>
                <th class="is-vcentered">source id</th>
                <th class="is-vcentered">file name</th>
                <th class="is-vcentered">atom number</th>
                <th class="is-vcentered">frame number</th>
            </tr>
        </thead>
    </table>
</section>

{% block script_extra %}
<script>
    $('#files_table').DataTable({
        {% if dataset_id is defined %}
        ajax: '/file_types/xtc/datatables/?dataset_id={{ dataset_id }}',
        {% else %}
        ajax: '/file_types/xtc/datatables',
        {% endif %}
        processing: true,
        serverSide: true,
        columns: [
            { data: 'dataset_origin' },
            { 
                data: 'dataset_id_in_origin',
                render: function(data, type, row) {
                    // data: dataset_id_in_origin
                    // row: the entire row data, including dataset_url
                    return '<a href="' + row.dataset_url + '" target="_blanck">' + data + '</a>';
                }
            },
            { 
                data: 'file_name',
                render: $.fn.dataTable.render.ellipsis(40),
            },
            { 
                data: 'atom_number',
                className: 'has-text-left',
                render: $.fn.dataTable.render.number(',', '.', 0, ''),

            },
            {
                data: 'frame_number',
                className: 'has-text-left',
                render: $.fn.dataTable.render.number(',', '.', 0, ''),
            },
        ],
            orderClasses: false,
            columnDefs: [
                { width: '10%', targets: 0 },    // dataset origin
                { width: '10%', targets: 1 },    // dataset id
                { width: '40%', targets: 2 },    // file name
                { width: '20%', targets: 3 },    // atom number
                { width: '20%', targets: 4 },    // frame number
                { className: 'dt-center', targets: "_all" }
            ],
            // Disable automatic calculation so the custom widths are used
            autoWidth: false,
    });
</script>
{% endblock %}
