{% extends "base.html" %}

{% block main %}
<section class="hero is-info has-background-info-light">
  <div class="hero-body">
    <p class="title">What is MDverse?</p>
    <p class="subtitle">And what it is not.</p>
  </div>
</section>
<section class="section">
    <p>
    MDverse is the data catalogue of molecular dynamics (MD) simulations.
    It indexes, annotates and shares datasets and files related to MD simulations with the purpose of fostering dissemination and reuse.
    </p>
    <p>
        MDverse is not a data repository and does not host MD data. It works like a search engine with added values for the MD community.
    </p>
</section>

<section class="hero is-info has-background-info-light">
  <div class="hero-body">
    <p class="title">Who is running MDverse?</p>
  </div>
</section>
<section class="section">
    <p>
        MDverse has been created by Johanna Tiemann, Matthieu Chavent and Pierre Poulain.
        See original publication: <a href="https://elifesciences.org/articles/90061">MDverse, shedding light on the dark matter of molecular dynamics simulations</a>, eLife, 2024 
        (DOI <a href="https://doi.org/10.7554/eLife.90061.3">10.7554/eLife.90061.3</a>)
    </p>
    <p>
        It is now maintained and operated by Matthieu Chavent and Pierre Poulain.
    </p>
</section>

{% endblock %}